In [1]:
import pandas as pd
import os
from sqlalchemy import create_engine

username = 'postgres'
password = 'password'

host = 'localhost'
database = 'airlines'
port = 5432

In [28]:
from sqlalchemy.engine import URL
from sqlalchemy import create_engine
from sqlalchemy import MetaData, Table

url_object = URL.create(
    "postgresql+psycopg2",
    username="postgres",
    password="password",  
    host="localhost",
    database="airlines",
)

engine = create_engine(url_object)
connection = engine.connect()

In [9]:
import pandas as pd

def load_raw_data(file_name):
    df = pd.read_csv(file_name)
    df = df.rename(columns=lambda x: x.lower())
    return df

 # Zaczytanie poszczególnych plików do ramek

 W tym miejscu zaczytaj poszczególne pliki do ramek

In [17]:
raw = r'C:\Users\admin\Desktop\Koncowego_sprawdzony\data\raw'

airport_list_df = load_raw_data(raw + r'\airport_data.csv')
airport_weather_df = load_raw_data(raw + r'\airport_weather.csv')
flight_df = load_raw_data(raw + r'\flight.csv')
aircraft_df = load_raw_data(raw + r'\aircraft.csv')

In [5]:
aircraft_df.head(10)

   manufacture_year tail_num  number_of_seats
0              1944   N54514              0.0
1              1945   N1651M              0.0
2              1953   N100CE              0.0
3              1953   N141FL              0.0
4              1953   N151FL              0.0
5              1953   N381FL              0.0
6              1954   N6174C              0.0
7              1954   N400UA              0.0
8              1955   N747CE              2.0
9              1955   N9148F              0.0

In [14]:
def export_table_to_db(df, table_name):
    print(f"Loading data into {table_name}...")
    
    # Ustawienia połączenia do bazy danych
    engine = create_engine(url_object)
    
    # Sprawdzenie, czy tabela już istnieje i wyczyszczenie jej zawartości
    # if engine.has_table(table_name):
    #     engine.execute(f"DELETE FROM {table_name};")
    
    # Eksport danych do bazy
    df.to_sql(name=table_name, con=engine, if_exists='append', index=False, chunksize=10000)
    
    print(f"Data loaded into {table_name}!")

 ### Wgranie `aircraft_df` do tabeli `aircraft`

In [15]:
export_table_to_db(aircraft_df, 'aircraft')

Loading data into aircraft...
Data loaded into aircraft!

 ### Wgranie `airport_weather_df` do tabeli `airport_weather`

In [ ]:
export_table_to_db(airport_weather_df, 'airport_weather')

 ### Wgranie `flight_df` do tabeli `flight`
 > Wykonanie tej komórki może zająć kilka-kilknaście minut za względu na ilość danych w ramce.

In [18]:
export_table_to_db(flight_df, 'flight')

Loading data into flight...
Data loaded into flight!

 ### Wgranie `airport_list_df` do tabeli `airport_list`

In [19]:
export_table_to_db(airport_list_df, 'airport_list')

Loading data into airport_list...
Data loaded into airport_list!